<nav class="main-menu">
  <ul>
    <li>
      <a href="{% url ' accueil ' %}">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
           Accueil
        </span>
      </a>
    </li>
    <li class="has-subnav">
      <a href="#"><i class="fa fa-file-text-o fa-2x"></i>
        <span class="nav-text">Fiches Identifications</span></a>
      <ul>
        <li ><a href="#"> <i class="fa fa-home fa-2x"></i>Accueil</a></li>
        <li><a href="#"> <i class="fa fa-home fa-2x"></i>Individus</a></li>
        <li><a href="#"> <i class="fa fa-home fa-2x"></i>Sociétés</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-bar-chart-o fa-2x"></i>
        <span class="nav-text">
           Statistiques
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-folder fa-2x"></i>
        <span class="nav-text">
           DatasystemsDOC
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-cog fa-spin fa-2x fa-fw"></i>
        <span class="nav-text">
           Configurations
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
          Aide et Support
        </span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-info fa-2x"></i>
        <span class="nav-text">
           Documentation
        </span>
      </a>
    </li>
  </ul>

  <ul class="logout">
    <li>
      <a href="#">
        <i class="fa fa-power-off fa-2x"></i>
        <span class="nav-text">
           Logout
        </span>
      </a>
    </li>
  </ul>
</nav>